body{
    background-color: black;
    margin: 0;
    font-family: 'Metal Mania', cursive, 'Montserrat';
}

.square{
    width: 30%;
    padding-bottom: 30%;
    border-radius: 10px ;
    float: left;

    margin: 1.66%;
}

#container{

    margin: 0 auto;
   max-width: 600px;
   padding-top: 15%;
}

h1{
color: white;
background-color:rgb(252, 3, 186);
text-align: center;
margin: 0;
text-transform: uppercase;
line-height: 1.1;
padding:20px;
}

span{

    color: rgb(252, 3, 186);
    
}

#bar{
    background-color:white ;
    height: 30px;
    text-align: center;
}

#rgb{

    color: white;
    font-size: 200%;
    
}

button{

border: none;
text-transform: uppercase;
background: none;
height: 100%;
font-weight: 700;
}

.selected{


    background-color: rgb(252, 3, 186);
}